In [2]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Sales.csv")
df

   temp  sales
0    10     20
1    15     30
2    20     40
3    25     50
4    30     60
5    35     70
6    40     80
7    45     85
8    50    100

In [3]:
df.head()

   temp  sales
0    10     20
1    15     30
2    20     40
3    25     50
4    30     60

In [4]:
df.tail()

   temp  sales
4    30     60
5    35     70
6    40     80
7    45     85
8    50    100

In [5]:
df.tail(20)

   temp  sales
0    10     20
1    15     30
2    20     40
3    25     50
4    30     60
5    35     70
6    40     80
7    45     85
8    50    100

In [6]:
df

   temp  sales
0    10     20
1    15     30
2    20     40
3    25     50
4    30     60
5    35     70
6    40     80
7    45     85
8    50    100

In [7]:
df.info

<bound method DataFrame.info of    temp  sales
0    10     20
1    15     30
2    20     40
3    25     50
4    30     60
5    35     70
6    40     80
7    45     85
8    50    100>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    9 non-null      int64
 1   sales   9 non-null      int64
dtypes: int64(2)
memory usage: 276.0 bytes

In [11]:
df = pd.read_csv("Sales.csv")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    9 non-null      int64
 1   sales   9 non-null      int64
dtypes: int64(2)
memory usage: 276.0 bytes

In [13]:
df.describe()

            temp       sales
count   9.000000    9.000000
mean   30.000000   59.444444
std    13.693064   26.744678
min    10.000000   20.000000
25%    20.000000   40.000000
50%    30.000000   60.000000
75%    40.000000   80.000000
max    50.000000  100.000000

In [15]:
df.isnull().sum()

temp     0
sales    0
dtype: int64

df.temp()

In [16]:
df.["temp"]

SyntaxError: invalid syntax (1501652111.py, line 1)

In [18]:
df["temp,sales"]

KeyError: 'temp,sales'

In [19]:
df["temp","sales"]

KeyError: ('temp', 'sales')

In [20]:
df["temp"].mean()

30.0

In [21]:
df["temp"].mode()

0    10
1    15
2    20
3    25
4    30
5    35
6    40
7    45
8    50
Name: temp, dtype: int64

In [22]:
df["sales"] = df['sales'].fillna(df["sales"].mean())

In [23]:
df

   temp  sales
0    10     20
1    15     30
2    20     40
3    25     50
4    30     60
5    35     70
6    40     80
7    45     85
8    50    100